.xcodeproj/!*.xcodeproj/project.pbxproj

*.xcuserstate

.DS_Store

*.xcuserstate

Scores.xcodeproj/project.xcworkspace/xcuserdata/ancajulean.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Scores.xcodeproj/xcuserdata/ancajulean.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Scores.xcodeproj/xcuserdata/ancajulean.xcuserdatad/xcschemes/Scores.xcscheme
